main {
    display: grid;
    grid-template-columns: auto minmax(500px,750px) 280px auto;
    grid-template-rows: repeat(5,auto);
    gap: 10px;
    width: 100%;
}
.main__hero {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 10px;
    width: 100%;
    max-width: 750px;
}
.main__hero h1 {
    grid-column: 1 / 2;
    width: 100%;
    justify-self: center;
    margin-top: 30px;
    font-size: 2.2rem;
    color: var(--green);
    text-align: center;
}
.main__hero p {
    grid-column: 1 / 2;
    justify-self: end;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.6rem;
    text-align: justify;
}
.main__hero img {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    justify-self: center;
    width: 100%;
    min-width: 200px;
    max-width: 200px;
}
.main__contact {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 280px;
    background: var(--gradient-top-left);
}
.contact__title {
    margin-top: 10px;
    min-width: 250px;
    font-size: 2.2rem;
}
.contact_description {
    display: inline-block;
    width: 100%;
    min-width: 250px;
    max-width: 260px;
    margin-bottom: 0;
}
.contact__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contact__form--email {
    margin: 5px 0;
    width: 260px;
}
.contact__form--buttom {
    margin: 10px auto;
}
.main__network {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-width: 280px;
}
.network__title {
    margin-top: 10px;
    padding-left: 10px;
    width: 280px;
    min-width: 280px;
    font-size: 2.2rem;
}
.network__icons-container {
    width: 280px;
    min-width: 280px;
    max-width: 280px;
}
.network__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
    margin: 0 auto 20px;
    padding: 0;
    list-style: none;
}
.network__list li {
    justify-self: center;
}
.network__list img {
    width: 50px;
}
.main__project {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    width: 100%;
    min-width: 280px;
}
.project__title {
    margin-bottom: 20px;
    padding-left: 0;
    width: 280px;
    min-width: 280px;
    font-size: 2.2rem;
}
.project__container {
    width: 280px;
    min-width: 280px;
    max-width: 280px;
}
.project__container--list {
    margin: 0 auto 20px;
    padding-left: 20px;
    list-style: none;
}
.project__container--list a {
    font-size: 1.8rem;
    text-decoration: none;
    color:white;
}
.main__juego {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    width: 100%;
    max-width: 750px;
}
