extend components/templates.pug
block contenido
    section.miniHeroCover
        .miniHeroCover__imagen
            img(src="../assets/images/zorroFeroz.jpg", alt="Imagen de un zorro frente delante de una granja")
        .miniHeroCover__contenido
            h2 Zorro Feroz
    section.moduloProject
        .moduloProject__description
            p Este proyecto es un pequeño juego online que desarrolle cuando emprece a aprender sobre Javascript, tras varias clases estuve experimentando un poco y se me ocurrio la idea de realizar un juego para mi hijo de 5 años.
            p Es bastante básico, pero mi hijo quedó impresionado y le encanta jugar, lo que me motivo no solo a seguir aprendiendo sobre programación, ademas me motivó a seguir desarrollándolo poco a poco para mejorarlo e implementarle algunas funciones que lo hagan un poco mas divertido y también se parezca mas a un verdadero juego a nivel de diseño.
            p Como digo es un juego sencillo, trata de ir moviendo el zorro para cazar al pollo, sin chocar ni con los cerdos ni con las vacas, cada vez que lo aprapas se incrementa el nivel. La posición y cantidad de animales es aleatoria lo que lo hace un poco mas entretenido al no ser siempre igual.
            p Te invito o animo a probar y jugar unas partidas al y te distraigas unos minutos.
        .moduloProject__file
            h3 Ficha técnica
            p Versión: 1.0.0
            p Estado: Estable
            p Tecnologías:
                ul
                    li HTML5
                    li CSS
                    li Javascript
            p Licencia: MIT
            p Repositorio: </br>
                a(href="https://github.com/Jgalvan7/zorroFeroz.git") Repositorio Guthub
    section.moduloZorro#projectFox3
        .moduloZorro__imagen#cargarJuego
            img(src="../assets/images/zorroFeroz.jpg", alt="Portada del juego Zorro Feroz")
            button#loadScreen
                img(src="../assets/images/boton__play.png", alt="Botón para jugar")
    script(src="../js/index.js")
